Flask==2.2.2
Flask-SQLAlchemy==3.0.3
Werkzeug==2.2.2
marshmallow==3.20.1
Faker==15.3.2
Flask-Migrate==4.0.7
Flask-RESTful==0.3.9
Flask-Bcrypt==1.0.1
Flask-JWT-Extended
python-dotenv
gunicorn
psycopg2-binary